<div class="card">
  <div class="card-content">
    <h5><%= best_in_place @officer, :first_name, as: :input %> 
        <%= best_in_place @officer, :last_name, as: :input %></h5><br />

    <b>Current unit:&nbsp;&nbsp;</b><br>
      <%= @officer.unit.name %><br /><br />
      
    <b>Current rank:&nbsp;&nbsp;</b><br>
      <%= @officer.rank %><br /><br />

    <b>Active duty?&nbsp;&nbsp;</b>
      <%= @officer.active ? "Yes" : "No" %>
      <br>
    
    <% if @current_assignments.any? %>
        <b>Current Assignments:&nbsp;&nbsp;</b>
        <% @current_assignments.each do |assignment| %>
            <%= assignment.investigation.title %><br />
        <% end %><br />
    <%= will_paginate @current_assignments, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>   
    <% end %>

    <% if @past_assignments.any? %>
        <b>Past Assignments:&nbsp;&nbsp;</b>
        <% @past_assignments.each do |assignment| %>
            <%= assignment.investigation.title %><br />
        <% end %><br />
    <%= will_paginate @past_assignments, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
    <% end %>


  </div>
</div>